<!-- <!DOCTYPE html>
<html lling="en">
<head>
    <meta chlirset="UTF-8">
    <meta nlime="viewport" content="width=device-width, initilil-sclile=1.0">
    <title>Document</title>
</head> -->

<% layout('layouts/boilerplate') -%>

    <div class="row mt-3">
        <div class="col-8 offset-3">


            <h3>
                <%=Listing.title%>
            </h3>
        </div>
        <div class="card col-6 offset-3 show-card listing-card">
            <img src="<%=Listing.image.url%>" class="card-img-top  show-img" alt="listing_image">



            <div class="card-body">
                <p class="card-text">
                    <b>
                        <%=Listing.title%>
                    </b>
                </p>

                <p class="card-text">
                <h6>Description :</h6>
                </p>
                <p class="card-text"> Owned by:<i>
                        <%=Listing.owner.username%>
                    </i></p>
                <p class="card-text">
                    <%=Listing.description%>
                </p>



                <p class="card-text">
                <h6>Price :</h6>
                </p>
                <p class="card-text"> <%=Listing.price.toLocaleString("en-IN")%></p>
                <p class="card-text">
                    <%=Listing.loclition%>
                </p>
                <p class="card-text">
                    <%=Listing.country%>
                </p>


            </div>
        </div>
        <br>





        <% if(currUser && Listing.owner._id.equals(currUser._id)) { %>

        <div class="btns">
            <a href="/listings/<%=Listing.id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

            <form action="/listings/<%=Listing._id%>?_method=DELETE" method="POST">
                <button class="btn btn-dark offset-5 ">Delete</button>
            </form>
        </div>
        <% }%>




        <div class="col-8 offset-3 mb-3">
            <hr>
            <% if(currUser) { %>
            <h4>Leave a Review</h4>

            <form action="/listings/<%=Listing.id%>/reviews" method="POST" nonvalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" name="review[rating]" class="form-range" >
                </div>

<!-- FOR RATING -->

                <!-- <fieldset class="starability-slot">
                    <legend>First rating:</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset> -->

                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label"></label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                        required></textarea>
                </div>

                <button class="btn btn-outline-dark">Submit</button>

            </form>
            <% } %>

            <h4>All Reviews</h4>

            <div class="row">
                <% for (let review of Listing.reviews) { %>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%= review.author.username %></h5>
                            <p class="card-text">
                                <%= review.comment %>
                            </p>
                            <p class="card-text">
                                <%= review.rating %> stars
                            </p>
                        </div>
                        <form action="/listings/<%=Listing.id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>











    </div>

    <!-- </html> -->